<manifest package="com.nichesoftware.giftlist"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Retrieve phone number -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Retrieve contacts -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Firebase Cloud Messaging -->
        <service
            android:name=".service.FirebaseMessageHandler"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.FirebaseInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- Activities -->
        <activity android:name=".views.start.SplashScreenActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".views.start.LaunchScreenActivity"
            android:parentActivityName=".views.start.SplashScreenActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.start.SplashScreenActivity" />
        </activity>
        <activity android:name=".views.rooms.RoomsActivity" />
        <activity android:name=".views.giftlist.GiftListActivity"
            android:parentActivityName=".views.rooms.RoomsActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.rooms.RoomsActivity" />
        </activity>
        <activity android:name=".views.addroom.AddRoomActivity"
            android:parentActivityName=".views.rooms.RoomsActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.rooms.RoomsActivity" />
        </activity>
        <activity android:name=".views.addgift.AddGiftActivity"
            android:parentActivityName=".views.giftlist.GiftListActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.giftlist.GiftListActivity" />
        </activity>
        <activity android:name=".views.giftdetail.GiftDetailActivity"
            android:parentActivityName=".views.giftlist.GiftListActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.giftlist.GiftListActivity" />
        </activity>
        <activity android:name=".views.adduser.AddUserActivity"
            android:parentActivityName=".views.giftlist.GiftListActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.giftlist.GiftListActivity" />
        </activity>
        <activity android:name=".views.inviteroom.InviteRoomActivity">
            <!-- Permet d'ouvrir l'activité lors de la réception d'une notification idoine -->
            <intent-filter>
                <action android:name="OPEN_INVITE_TO_ROOM_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
