<manifest package="com.nichesoftware.giftlist"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- Retrieve phone number -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Retrieve contacts -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!--<permission android:name="{applicationId}.gcm.permission.C2D_MESSAGE"-->
        <!--android:protectionLevel="signature" />-->
    <!--<uses-permission android:name="{applicationId}.gcm.permission.C2D_MESSAGE" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".views.start.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".views.rooms.RoomsActivity"
            android:parentActivityName=".views.start.StartActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.start.StartActivity" />
        </activity>
        <activity android:name=".views.giftlist.GiftListActivity"
            android:parentActivityName=".views.rooms.RoomsActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.rooms.RoomsActivity" />
        </activity>
        <activity android:name=".views.addroom.AddRoomActivity"
            android:parentActivityName=".views.rooms.RoomsActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.rooms.RoomsActivity" />
        </activity>
        <activity android:name=".views.addgift.AddGiftActivity"
            android:parentActivityName=".views.giftlist.GiftListActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.giftlist.GiftListActivity" />
        </activity>
        <activity android:name=".views.giftdetail.GiftDetailActivity"
            android:parentActivityName=".views.giftlist.GiftListActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.giftlist.GiftListActivity" />
        </activity>
        <activity android:name=".views.adduser.AddUserActivity"
            android:parentActivityName=".views.giftlist.GiftListActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.giftlist.GiftListActivity" />
        </activity>
    </application>

</manifest>
